<div class="container-fluid">
    <h3 class="text-dark mb-4">Prescriptions</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Prescriptions Information</p>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- <div class="col-md-6 text-nowrap">
                      <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                                        <option value="10" selected="">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>&nbsp;</label>
                                </div
                </div> -->
                <div class="col-md-6">
                    <div class=" dataTables_filter" id="dataTable_filter"><label class="form-label"><input
                                type="search" class="form-control form-control-sm" aria-controls="dataTable" ngModel #f
                                (keyup)="searchprescription(f.value)" placeholder="Search for date....."></label></div>
                </div>
                <div class="col-md-6">
                    <div class="text-md-end">
                        <a [routerLink]="['./add']" class="btn btn-outline-success">Add New Prescription</a>
                    </div>
                </div>
            </div>
            <div *ngIf="PrescriptionList.length == 0" class="row">
                <div id="divNoData" class="container d-flex justify-content-center">
                    <h3 class="text-danger"> There is no data for this patient to show </h3>
                </div>
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" *ngIf="PrescriptionList.length>0" id="dataTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Patient </th>
                            <th>Doctor </th>
                            <th>Clinic </th>
                            <th>Date</th>
                            <th>List of Medicine</th>
                            <th>Edit </th>
                            <th>Delete </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of PrescriptionList">
                            <td>{{item.pid}}</td>
                            <td>{{item.patientName}}</td>
                            <td>{{item.doctortName}}</td>
                            <td>{{item.clinicName}}</td>
                            <td>{{item.date|date:'yy/MMM/dd'}}</td>
                            <td >
                                <span *ngFor="let i of item.listmedicine">
                                    {{i}},
                                </span>
                            </td>
                            <td>
                                <a [routerLink]="['./edit/'+item.pid]"><i class="fas fa-edit fs-4 text-primary"
                                        title="Edit"></i></a>
                            </td>
                            <td>
                                <!-- <button type="button" class="btn btn-danger" (click)="deletePrescription(item.pid)">Delete</button> -->
                                <a><i class="fa fa-trash text-danger fs-4" (click)="deletePrescription(item.pid)"
                                        title="Delete"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>ID</strong></td>
                            <td><strong>Patient </strong></td>
                            <td><strong>Doctor </strong></td>
                            <td><strong>Clinic </strong></td>
                            <td><strong>Date</strong></td>
                            <td><strong>List of Medicine</strong></td>
                            <th>Edit </th>
                            <th>Delete </th>

                        </tr>
                    </tfoot>
                </table>
            </div>

            <!-- <pm-prescription-edit [editedPrescription]="prescription"></pm-prescription-edit>
                    <pm-prescription-add></pm-prescription-add>  -->
            <!-- <router-outlet></router-outlet> -->
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10
                        of 27</p>
                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span
                                        aria-hidden="true">«</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span
                                        aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>