*

!.gitignore
!client/
!app-client/
!src/
!app/
!Employee**
!appointment**
!patient**
!prescription**
!home**
!.services**
!_model**


!server/
!Controllers/
patient/
!Routes/
!Services/
patients/
!app.js