<!-- <p>prescription-edit works!</p> -->

<div class="container-fluid">
    <h3 class="text-dark mb-4">Edit Prescription</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Prescription Information</p>
        </div>
        <div class="card-body">
            <div id="divAddPatient">
                <form #f="ngForm" action="">
                    <div class="mb-3">
                        <label  class="form-label">Patient Name:</label>
                        <input type="text" class="form-control"  name="Pname" [(ngModel)]="editedPrescription.patientName">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Doctor Name:</label>
                        <input type="text" required class="form-control"  name="Dname" [(ngModel)]="editedPrescription.doctortName">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Clinic Name:</label>
                        <input type="text" required class="form-control"  name="Cname" [(ngModel)]="editedPrescription.clinicName">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Date:</label>
                        <input type="text" required class="form-control"  name="dose" [(ngModel)]="editedPrescription.date">
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary" (click)="SaveEditedPrescription()">Save</button>
                        <a [routerLink]="['/prescription']" class="btn btn-warning text-danger" style="font-size: 20px;"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back To List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 
