<div class="container">
  <div class="show-case-container mt-4">
    <div class="title mb-3">
      <h1>Start your 14-day free trial</h1>
    </div>
    <div class="sub-title mb-3">
      <h5>
        See how UNO can streamline your clinic’s workflows and improve your
        efficiencies.
      </h5>
    </div>

    <div class="row mb-3 mt-3">
      <div class="col">✅No payment required</div>
      <div class="col">✅No payment required</div>
      <div class="col">✅No payment required</div>
    </div>

    <div class="form-row row mt-3 mb-3">
      <div class="col-12 col-md-5 d-flex align-items-center justify-content-center">
        <div class="form-container">
          <div class="mb-3">
            <label for="" class="form-label">name</label>
            <input
              type="text"
              name=""
              id=""
              class="form-control"
              placeholder=""
              aria-describedby="helpId"
            />
          </div>
          <div class="mb-3">
            <label for="" class="form-label">email</label>
            <input
              type="text"
              name=""
              id=""
              class="form-control"
              placeholder=""
              aria-describedby="helpId"
            />
          </div>
          <div class="mb-3">
            <label for="" class="form-label">phone</label>
            <input
              type="text"
              name=""
              id=""
              class="form-control"
              placeholder=""
              aria-describedby="helpId"
            />
          </div>
          <div class="mb-3">
            <label for="" class="form-label">message</label>
            <textarea class="form-control" name="" id="" rows="4"></textarea>
          </div>
          <div class="mb-3">
            <button class="btn btn-success rounded-pill">Get Started</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="row">
          <div class="col-12">
            <h6 class="offer">
              Not ready to try our free trial? Have any questions and doubts? Have a
              chat with us!
            </h6>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
          <button class="custom-button rounded-pill">main line: +201032122442</button>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
          <button class="custom-button rounded-pill">main line: +201032122442</button>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
          <button class="custom-button rounded-pill">main line: +201032122442</button>
        </div>
      </div>
    </div>
  </div>

</div>
