i:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.link a{
    text-decoration: none;
    color: #858796;
}

.link:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.link:hover > a{
    color: blue;
}
#divNoData{
    height: 60vh;
}

h3.text-danger{
    margin-top: 10%;
}