<div class="showCase">
  <div id ="main-show" class="container">
    <div class="row g-0">
      <div class="col-12 col-md-6">
        <div class="home-content">
          <h1 id="show-case-main-title">Helping you focus on your patient</h1>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
          voluptate cum odio cupiditate nesciunt minima maxime, quis quisquam
          dolorum non.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum
          necessitatibus ipsam adipisci vel quia nam. Impedit laboriosam quos
          ducimus. Explicabo quasi porro recusandae non ratione voluptatem
          mollitia dicta nihil, delectus suscipit harum! Itaque molestiae quos
          delectus non fuga quod? Qui molestias consectetur quibusdam dicta
          tempore ad enim facere in eveniet?
        </p>

        <button class="btn btn-success text-white rounded-pill">
          share with us your problems
        </button>
      </div>
      <div class="col-12 col-md-6">
        <div class="d-flex justify-content-center align-items-center">
          <img class="w-100"
          src="../../../../../assets/img/showcase/UNO+CMS.png"
          alt="loading"
        />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <hr>
</div>
<div class="feature-container bg-grey bg-gradient">
  <div id="main-feature" class="container">

      <div class="row p-5">
        <div class="col-12 col-sm-4">
          <div class="d-flex justify-content-center align-items-center p-3">
            <div class="img-container bg-primary">
              <div class="img-feature">
                <img src="../../../../../assets/img/features/icons8_increase_48px.png" alt="loading">
              </div>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta
            explicabo debitis id totam officia aliquam repudiandae natus nulla atque
            quo.
          </p>
        </div>
        <div class="col-12 col-sm-4">
          <div class="d-flex justify-content-center align-items-center p-3">
            <div class="img-container bg-primary">
              <div class="img-feature">
                <img src="../../../../../assets/img/features/icons8_doctors_bag_48px.png" alt="loading">
              </div>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta
            explicabo debitis id totam officia aliquam repudiandae natus nulla atque
            quo.
          </p>
        </div>
        <div class="col-12 col-sm-4">
          <div class="d-flex justify-content-center align-items-center p-3">
          <div class="img-container bg-primary">
            <div class="img-feature">
              <img src="../../../../../assets/img/features/icons8_user_groups_128px.png" alt="loading">
            </div>
          </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta
            explicabo debitis id totam officia aliquam repudiandae natus nulla atque
            quo.
          </p>
        </div>
        <div class="col-12 col-sm-4">
          <div class="d-flex justify-content-center align-items-center p-3">
          <div class="img-container bg-primary">
            <div class="img-feature">
              <img src="../../../../../assets/img/features/icons8_timer_64px.png" alt="loading">
            </div>
          </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta
            explicabo debitis id totam officia aliquam repudiandae natus nulla atque
            quo.
          </p>
        </div>
        <div class="col-12 col-sm-4">
          <div class="d-flex justify-content-center align-items-center p-3">
            <div class="img-container bg-primary">
              <div class="img-feature">
                <img src="../../../../../assets/img/features/icons8_tooth_128px.png" alt="loading">
              </div>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta
            explicabo debitis id totam officia aliquam repudiandae natus nulla atque
            quo.
          </p>
        </div>
        <div class="col-12 col-sm-4">
          <div class="d-flex justify-content-center align-items-center p-3">
          <div class="img-container bg-primary">
            <div class="img-feature">
              <img src="../../../../../assets/img/features/icons8_Money_Bag_Franc_64px.png" alt="loading">
            </div>
          </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta
            explicabo debitis id totam officia aliquam repudiandae natus nulla atque
            quo.
          </p>
        </div>
      </div>
    </div>
</div>
