<div class="container about-container">
    <h1 class="text-center">About UNO Technologies</h1>
    <div class="container mt-5">
        <p class="fs-4">
            We at UNO Technologies believe there is a better way to run a healthcare practice. A more efficient and productive way where the patients can receive high-quality care in a fast and efficient manner. Saving time for both the practitioners and patients. We focus on health-tech software, which is often the overlooked aspect of a medical practice. Yet it plays a crucial role in many successful practices. We’re excited to simplify and streamline healthcare for practitioners through our software.
        </p>
    </div>
    <hr class="my-5">
    <div id="founding" class="row">
        <div class="col-md-4">
            <img src="../../../../../assets/img/dogs/image2.jpeg" alt="">
        </div>
        <div class="col-md-8">
            <div class="mb-3">
                <span class="text-dark fs-4"><strong>Our Founding</strong></span>
            </div>
            <div>
                <p class="fs-4">
                    Established in 2015, We have provided our clients in the healthcare sector across the region with intelligent, scalable clinic management and electronic medical record systems.
                </p>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="mb-3">
            <span class="text-dark fs-4"><strong>Cloud integration</strong></span>
        </div>
        <div>
            <p class="fs-4">
                UNO went with cloud service from the start. We are one of the first few cloud-based health-tech solutions provider in Singapore. A true pioneer in that aspect. Helping medical practitioners going paperless and improve their data management.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="mb-3">
            <span class="text-dark fs-4"><strong>IHiS SmartCMS integration</strong></span>
        </div>
        <div>
            <p class="fs-4">
                In 2018, UNO successfully integrated with the Ministry of Health Singapore IHiS SmartCMS programme. Becoming a preferred and certified SmartCMS vendor, making UNO an NEHR ready CMS provider.
            </p>
        </div>
    </div>
    <div id="founding" class="row mt-5">
        <div class="col-md-4">
            <img src="../../../../../assets/img/dogs/image2.jpeg" alt="">
        </div>
        <div class="col-md-8">
            <div class="mb-3">
                <span class="text-dark fs-4"><strong>A new beginning</strong></span>
            </div>
            <div>
                <p class="fs-4">
                    In late 2019, UNO Technologies was acquired by Essex Bio-Technology Limited. We went through a rebranding and became a part of the UNO Medical Group, a group dedicated to providing healthcare services and health-tech solutions to the APAC region. UNO Technologies is a fully owned subsidiary of Essex-Bio-Technology Limited.
                </p>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="mb-3">
            <span class="text-dark fs-4"><strong>Our culture</strong></span>
        </div>
        <div>
            <p class="fs-4">
                UNO Technologies is a young and rapidly growing team with a passion for leveraging on technology to solve healthcare issues. With an average age of less than 30 years old, the environment is fun and ever-evolving. We value outside of the box thinking and radical ideas to push the company forward. Independence and Entrepreneurial spirit are the core values we seek in our colleagues (we are not fans of mindless drones waiting for instructions!)
            </p>
        </div>
    </div>
</div>
