<div class="container-fluid">
    <h3 class="text-dark mb-4">Patients</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Patient Profile</p>
        </div>
        <div class="card-body">
            <!-- Code here -->
            <div class="row g-0">
                <div class="col-6">
                    <img id="patientImg" src="/assets/img/avatars/avatar6.jpg" alt="">
                </div>
                <div class="mt-3 col-6">
                    <!-- d-flex flex-column justify-content-around -->
                    <div class="row mt-3">
                        <div class="col-sm-6 col-md-4 col-lg-3"> 
                            <span>Full name:</span>
                        </div>
                        <div class="col-sm-6 mx-1 mx-sm-0">
                            <span>Patient Name</span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-6 col-md-4 col-lg-3"> 
                            <span>Age:</span>
                        </div>
                        <div class="col-sm-6 mx-1 mx-sm-0">
                            <span>Patient Age</span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-6 col-md-4 col-lg-3"> 
                            <span>Gender:</span>
                        </div>
                        <div class="col-sm-6 mx-1 mx-sm-0">
                            <span>Patient Gender</span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-6 col-md-4 col-lg-3"> 
                            <span>Phone:</span>
                        </div>
                        <div class="col-sm-6 mx-1 mx-sm-0">
                            <span>Patient Phone</span>
                        </div>
                    </div>
                        <!-- <div class="col-3 h-100 d-flex flex-column justify-content-around"> 
                            <span>Full name:</span>
                            <span>Age:</span>
                            <span>Phone:</span>
                        </div>
                        <div class="col-6 h-100 d-flex flex-column justify-content-around">
                            <span>Patient Name</span>
                            <span>Patient Age</span>
                            <span>Patient Phone</span>
                        </div> -->
                    
                </div>
            </div>
            <!-- Code here -->
        </div>
    </div>
</div>
