#patientImg{
    width: 60%;
    border-radius: 0%;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0,0.5), 0 10px 20px 0 rgba(22, 20, 20,0.5);
}

@media (max-width:576px) {
    div.d-flex{
        justify-content: center;
    }
    #patientImg{
        border-radius: 50%;
    }
}

#hr{
    display: none;
}