<div class="container-fluid">
    <h3 class="text-dark mb-4">Add Appointment</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Appointment Info</p>
        </div>
        <div class="card-body">
            <div id="divAddMedicine>">
                <!-- <form action=""> -->
                    <!-- Dr Name -->
                    <div class="mb-3">
                        <label for="txtDocName" class="form-label">Doctor Name</label>
                        <select class="form-select" aria-label="Default select example" name="Doctors" [(ngModel)]="newAppointment.DocName">
                            <!-- <option selected>Please select a doctor</option> -->
                            <option *ngFor="let doc of docList" [value]="doc.name">{{doc.name}}</option>
                            </select>
                    </div>

                    <!--Appointment Date -->
                    <div class="mb-3"> 
                        <label for="txtAppointmentDate" class="form-label">Date</label>
                        <input type="date" [(ngModel)]="newAppointment.date" class="form-control" id="txtMedName">
                    </div>

                    <!-- Appointment Time -->
                    <div class="mb-3">
                        <label for="txtAppointmentTime" class="form-label">Time</label>
                        <input type="time" [(ngModel)]="newAppointment.time" required class="form-control" id="txtMedPrice">
                    </div>

                    <!-- Add Appointment -->
                    <div class="d-flex justify-content-between">
                        <button type="submit" (click)="save()" class="btn btn-primary">Add</button>
                    </div> 
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>
