
<div class="container-fluid" *ngIf="newPatient!=null">
    <h3 class="text-dark mb-4">New Patient</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Patient Info</p>
        </div>
        <div class="card-body">
            <div id="divAddPatient">
                    <div class="mb-3">
                        <label for="txtStdId" class="form-label">First Name</label>
                        <input type="text" min="0" name="firstName" [(ngModel)]="newPatient.firstName" class="form-control" id="txtStdId">
                    </div>
                    <div class="mb-3">
                        <label for="txtStdId" class="form-label">Last Name</label>
                        <input type="text" min="0" name="lastName" [(ngModel)]="newPatient.lastName" class="form-control" id="txtStdId">
                    </div>
                    <div class="mb-3">
                        <label for="txtStdName" class="form-label">Gender</label>
                        <input type="text" class="form-control" name="gender" [(ngModel)]="newPatient.gender" id="txtStdName">
                    </div>
                    <div class="mb-3">
                        <label for="txtStdName" class="form-label">Age</label>
                        <input type="number" class="form-control" name="age" [(ngModel)]="newPatient.age" id="txtStdName">
                    </div>
                    <div class="mb-3">
                        <label for="txtStdGrade" class="form-label">Phone</label>
                        <input type="text" class="form-control" name="phone" [(ngModel)]="newPatient.phone" id="txtStdGrade">
                    </div>
                    <!-- <div class="mb-3">
                        <label for="txtStdGrade" class="form-label">Image</label>
                        <input type="file" required accept=".jpeg, .jpg, .png" class="form-control" id="txtStdGrade">
                    </div> -->
                    <div class="d-flex justify-content-between">
                        <button  class="btn btn-primary" (click)="save()">Save</button>
                    </div>
            </div>
        </div>
    </div>
</div>
